.headercontainer{
    background-color: rgb(16, 16, 45);
    padding: 1vmax;
    display: grid;
    grid-template-columns: 4fr 6fr;
    align-items: center;
     /* make it stick */
     position: sticky;
    
     top: 0;
     /* in front of all other elements */
     z-index: 99;
   
    width: 100vmax;
    margin: auto;
}

.headerlogo>h2{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.5vmax;
    transition: all 0.5s;
    cursor: pointer;
}
.headerlogo>h2:hover{
    color:rgb(222, 42, 19);
    text-decoration: none;
    font-size: 2vmax;

}


.navlinks{
    color: white;
    text-decoration: none;
    margin: 1vmax 1.2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.1vmax;
    transition: all 0.5s;
    cursor: pointer;
}
.navlinks:hover{
    color:rgb(222, 42, 19);
}

@media screen and (max-width:600px) {
    .headercontainer{
       
        grid-template-columns:1fr;
     
         position:relative;
        
       
    }
    .headerlogo>h2{
        
        font-size: 4vmax;
        
    }
    .headerlogo>h2:hover{
        
        font-size: 5vmax;
    
    }
    .navlinks{

        font-size: 2vmax;

    }
    
}